header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    margin-right: 20px;
}

.logo img {
    width: 100px;
    height: auto;
}

.text {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

.univ-name{
    font-weight: bold;
    font-weight: 1.2em;
}

.certificate h2 {
    font-size: 24px;
    letter-spacing: 10px;
    font-weight: bold;
    text-align: center;
}

.registration-info{
    text-align: left;
    font-weight: bold;
}

.unit{
    letter-spacing: 17px;
}
.highlight{
    color: red;
}

.general-table{
    border: 1px solid black;
    background-color: #CACCF5;
    font-size: 15px;
}

.subject-table{
    border: 1px solid black;
    background-color: #CACCF5;

}

.under-subject{
    border: 1px solid black;
    

}


.units{
    word-spacing: 17px; 


}

.total-units{
    font-weight: bold;
    word-spacing: 17px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
}
.total{
    font-weight: bold;

}
.line{
    border-bottom: 1px solid black;
    padding-bottom:2px ;
}

.fee{
    margin-top: 30px;
    border: 1px solid black;
    background-color: #CACCF5;
    letter-spacing: 5px;
    font-size: 15px;
}

.fees-table{
    width: 700px;
    height: 100px;

}

.assessment{
    font-weight: bold;
    border: 1px solid black;
}

.payment{
    border: 1px solid black;
    width: 700px;
    height: 100px;
}






table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid black;

}


th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: none;
    
    
}

th {
    font-weight: bold;
}

tbody td {
    text-align: left;

}








 